<!DOCTYPE html>
<html>
<head>

    <title>SmartHire AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div>

        <a href="/">Home</a>

        &nbsp;&nbsp;&nbsp;

        <a href="/login">Login</a>

        &nbsp;&nbsp;&nbsp;

        <a href="/dashboard">Dashboard</a>

    </div>

    <br>

    <h1>Welcome to SmartHire AI</h1>

    <p>AI-Powered Technical Interview Analysis System</p>

    <a href="/login">
        <button>Start Interview</button>
    </a>

</body>
</html>