<!DOCTYPE html>
<html>
<head>

    <title>Login - SmartHire AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <h1>SmartHire AI Login</h1>

    <form method="POST">

        <input type="text" name="username" placeholder="Enter Username">

        <br><br>

        <input type="password" name="password" placeholder="Enter Password">

        <br><br>

        <button type="submit">Login</button>

    </form>

<a href="/register">New user? Register here</a>

</body>
</html>